div.pofw-toppings-box{
	width: 100%!important;
    padding: 0 0 15px 0!important;
}

div.choice label span:nth-child(1) {
  width: 75%;
}

div.choice label span:nth-child(2) {
  width: 25%;
  float: right;
}

.added_to_cart{
  display: none!important;
}

@media only screen and (max-width: 412px) {
  .woocommerce ul.products li.product a .woocommerce-loop-product__title {
    height: 44px;
  }
}